CREATE OR REPLACE PACKAGE {{schema}}.{{singular}} AS
  
  PROCEDURE create_{{singular}}(
    p_wua_id NUMBER
{{#fk_column}}
  , p_{{fk_short}}_id NUMBER
{{/fk_column}}
  , po_new_{{short}}_id OUT NUMBER
  );

END {{singular}};
/